project_id    = "<YOUR_PROJECT_ID>"
region                  = "<YOUR_REGION>"
zone                    = "<YOUR_ZONE>"
bucket_name             = "<YOUR_BUCKET_NAME>"
bq_raw_dataset_id       = "entsoe_warehouse"      
bq_analytics_dataset_id = "entsoe_analytics_dev"
